body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(57, 63, 70);
  color: rgb(193, 226, 255);
}
#search-bar {
  width: 500px;
  height: 24px;
  border-color: rgb(193, 226, 255);
  border-style: solid;
  color: rgb(193, 226, 255);
  background-color: rgb(57, 63, 70);
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
}
#search-button {
  height: 30px;
  width: 100px;
  border-style: solid;
  border-color: rgb(193, 226, 255);
  color: rgb(193, 226, 255);
  background-color: rgb(57, 63, 70);
  border-radius: 3px;
  margin: 10px;
}
a {
  text-decoration: underline;
  color: rgb(193, 226, 255);
}
a:hover {
  color: rgb(106, 154, 196);
}
.linebreak {
  border-color: rgb(193, 226, 255);
}